@import 'variables';

.circle-position{
    position: absolute;
    right: 0;
    top:15px;
}
.main-section2{
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 70px;   
}
.req-text{
    font-size: 11px;
}
/*-----Button with dropdown--------*/
.dropdown-borders{
    border-radius: 30px 30px 5px 5px !important;
    left:-115%;
}
.dropdown-main-button{
    border-radius: 50%;
    margin: 10px;
}
.dropdown-additional-button{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius:50%;
    padding: 5px;
    background-color: gray;
    display: none;
}
.input-in-div{
    margin:0px !important;
    
}
.time-in-div{
    margin:0px 0px 0px 5px!important;
    display: none;
}
.input-in-div2{
    margin: 5px 0px 0px 0px !important;
}
input[type="text"], input[type="date"],input[type="time"]{
    width:100%;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 5px 0px;
    min-height: 30px;
    border-radius: 8px;
    background-color: $almost-white-color;
    border: none;
    border-width: 0;
}
.errspan {
    margin-right: 15px;
    z-index: 1;
}
.circle-menu-position{
    position: absolute;
    right: 10px;
    top: 0.75em;
}
.dropdown-blocks{
    position: relative;
}

.date-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 30px;
    margin-bottom: 2px;
     margin-top: 5px;
}
.checkbox-container{
    margin-left: 3px;
}
.form-menu-container{
    width: 100%;
    margin-bottom: 5px;
}
.button-form-add-task{
    background-color: $green-color;
    border: none;
    width: initial;
}
.button-form-add-task-active{
    background-color:  $red-color;
    border: none;
    width: 100%;
}
.div-btn-add-task{
    width: 90%;
    display: flex;
    justify-content: center;
}