@import 'variables';

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
   
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }  
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    &.round {
        border-radius: 24px;
        &:before {
            border-radius: 50%;
        }
    }

}
input{
    &:checked+.slider {
        background-color: $red-color;
        &:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
        }
        
    }
    &:focus+.slider {
        box-shadow: 0 0 1px $red-color;
    }
}