/*----------------------Tags------------------------*/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #0f9960;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body, div, p, button {
  font-family: 'Montserrat',sans-serif;
  color: white;
  font-size: 13px;
}

td {
  font-size: 15px;
}

form {
  width: 90%;
  margin-bottom: 10px;
}

.red-color {
  color: darkred;
}

.red-bcolor {
  background-color: darkred;
}

.green-bcolor {
  background-color: #0f9960;
}

.text-center {
  text-align: center;
}

.gray-color {
  color: #a5afb7;
}

.light-gray-color {
  color: #b9c3cb;
}

.black-color {
  color: black;
}

.width100 {
  width: 100%;
}

.text-align-right {
  text-align: right;
}

.bcolor-almost-white {
  background-color: #ededed;
}

.line-through {
  text-decoration: line-through;
}

.margin7 {
  margin: 3px 7px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.turquoise-color {
  color: #00c7c7;
}

.yellow-color {
  color: #f2d06c;
}

.blue-color {
  color: #0253b3;
}

.violet-color {
  color: #ca89fc;
}

.white-space-nowrap {
  white-space: nowrap;
}

.margin-2-0 {
  margin: 2px 0px;
}

.font-size14 {
  font-size: 14px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-column {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3vh;
  padding-right: 3vh;
  min-height: 470px;
}

@media screen and (max-width: 768px) {
  .main-column {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 0px;
    height: 50%;
    padding-right: 0px;
  }
}

.span-center {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.header {
  min-height: 90px;
  margin-top: 1vh;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    width: 95%;
  }
}

.p-header {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.icon-round {
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
  border: solid 2px;
  border-radius: 50% !important;
}

.gray-border-color {
  border-color: #a5afb7;
}

.red-border-color {
  border-color: darkred;
}

.gray-icon {
  color: #a5afb7;
  vertical-align: middle;
}

.button1 {
  border-radius: 5px;
  background-color: darkred;
  padding: 6px 12px;
  font-size: 15px;
  border-width: 1px;
  border-color: white;
}

.button1:enabled:hover {
  background-color: #333333;
  cursor: pointer;
  color: white;
}

.task-section {
  width: 95%;
  min-height: 60px;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
  margin: 5px 15px;
  border-radius: 10px;
  padding: 5px;
}

.task-section:hover {
  cursor: pointer;
}

.task-section:hover .task-icon {
  display: block;
}

.task-section:hover .right-task-section > p {
  display: none;
}

.right-task-section {
  min-width: 80px;
}

.task-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-icon {
  border-radius: 50%;
  padding: 4px 5px;
  margin: 1px;
  color: black;
  display: none;
}

.task-icon:hover {
  background-color: #a5afb7;
}

.task-icon + .task-icon {
  padding: 4px 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: darkred;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px darkred;
          box-shadow: 0 0 1px darkred;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .today {
  background-color: #0f9f87;
}

.dropbtn {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: 33%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 210px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content li {
  color: #0253b3;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
}

li {
  float: left;
}

/*-----------------Triangle---------------------*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.filter-task {
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: hidden;
}

.filter-task label {
  float: left;
  margin: 4px 1px;
}

.filter-task label span {
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  display: block;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
}

.filter-task label span:hover {
  color: white;
  background-color: #333333;
  cursor: pointer;
}

.filter-task label input {
  margin: -10px;
  position: absolute;
  top: -20px;
}

.filter-task input:checked + span {
  color: black;
  border: 1px solid black;
}

.filter-task2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 10px;
  right: 12px;
  color: black;
}

.filter-task2 .task-icon {
  display: block;
}

.summary {
  font-weight: 900;
  font-size: 32px;
}

.table {
  width: 100%;
  padding: 5px;
  border-spacing: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .table {
    padding: 5px 0px;
    width: 95%;
  }
}

.td-right {
  width: 100%;
  text-align: right;
}

.td-left {
  text-align: left;
  position: relative;
}

.td-center {
  text-align: left;
}

.circle-position {
  position: absolute;
  right: 0;
  top: 15px;
}

.main-section2 {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

.req-text {
  font-size: 11px;
}

/*-----Button with dropdown--------*/
.dropdown-borders {
  border-radius: 30px 30px 5px 5px !important;
  left: -115%;
}

.dropdown-main-button {
  border-radius: 50%;
  margin: 10px;
}

.dropdown-additional-button {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  padding: 5px;
  background-color: gray;
  display: none;
}

.input-in-div {
  margin: 0px !important;
}

.time-in-div {
  margin: 0px 0px 0px 5px !important;
  display: none;
}

.input-in-div2 {
  margin: 5px 0px 0px 0px !important;
}

input[type="text"], input[type="date"], input[type="time"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  margin: 5px 0px;
  min-height: 30px;
  border-radius: 8px;
  background-color: #ededed;
  border: none;
  border-width: 0;
}

.errspan {
  margin-right: 15px;
  z-index: 1;
}

.circle-menu-position {
  position: absolute;
  right: 10px;
  top: 0.75em;
}

.dropdown-blocks {
  position: relative;
}

.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-height: 30px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.checkbox-container {
  margin-left: 3px;
}

.form-menu-container {
  width: 100%;
  margin-bottom: 5px;
}

.button-form-add-task {
  background-color: #0f9960;
  border: none;
  width: initial;
}

.button-form-add-task-active {
  background-color: darkred;
  border: none;
  width: 100%;
}

.div-btn-add-task {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-counter {
  position: absolute;
  right: 0px;
  top: 1vh;
  background-color: white;
  color: black;
  padding: 3px 10px;
  border-radius: 5px;
}

/*Main Window*/
.main-section1 {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .main-section1 {
    width: 95%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.no-task {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.footer-left {
  width: 100%;
  min-height: 70px;
  position: relative;
}

.hi {
  font-weight: 900;
  font-size: 48px;
  margin: 0;
}

.page2-left {
  display: none;
}

.page2-right {
  display: none;
}
/*# sourceMappingURL=style.css.map */